
<div class="blog-cards"></div>
<h1>These are all of our most recent blogs.</h1>
  <div class="blog-cards-header">
    <h2>Title:</h2>
    {{!-- Need for each render loop here --}}
    <p>{{title}}</p>
  </div>
  <div class="blog-body">
    <!-- We render the description below, using a Handlebars.js expression. -->
    <h2>Description:</h2>
          {{!-- Need for each render loop here --}}
      <p>{{description}}</p>
  </div> 
</div>