<div class="permissions">
  <div class="login">
    <h2>Login</h2>

    <form class="login-form">
      <div class="login-email">
        <label for="email-login">Email:</label><br>
        <input class="form-input" type="text" id="email-login" /><br>
      </div>
      <div class="login-password">
        <label for="password-login">Password:</label><br>
        <input class="form-input" type="password" id="password-login" /><br>
      </div>
      <div class="login-btn"><br>
        <button class="btn btn-primary" type="submit">Login</button><br>
      </div>
    </form>
  </div>
  
  <div class="signup">
    <h2>Signup</h2>

    <form class="signup-form">
      <div class="signup-name">
        <label for="name-signup">Name:</label><br>
        <input class="form-input" type="text" id="name-signup" /><br>
      </div>
      <div class="signup-email">
        <label for="email-signup">Email:</label><br>
        <input class="form-input" type="text" id="email-signup" /><br>
      </div>
      <div class="signup-password">
        <label for="password-signup">Password:</label><br>
        <input class="form-input" type="password" id="password-signup" /><br>
      </div>
      <div class="signup-btn"><br>
        <button class="btn btn-primary" type="submit">Signup</button><br>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
